body {
    border: 1rem solid red;
    padding: 0.5rem;
}
h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
h1:hover {
    color: orange;
}
nav {
    text-align: center;
}
img {
    width: 5%;
}
nav button {
    text-align: center;
    background: center / contain no-repeat url("../basket.avif");
    padding: 10px;
    color: grey;
}
